        /* Hero */
        .hero {
        display: flex;
        justify-content: space-between; /*separo los elementos logo a la izquierda y botones a la derecha*/
        align-items: center;
        padding: 1rem 1.5rem; /* espaciado 16px arriba y abajo y 24px izq y der*/
        background-color: var(--bg-main);
        border-bottom: 1px solid var(--border-main);
        }
        .hero-logo {
        margin: 0; /*elimino margenes*/
        font-size: 2.2rem; /* logo mas grande que resalte 35.2px*/
        font-weight: 800; /*tamaño grueso*/
        }
        .hero-right button { /* solo en contenedor derecho*/
        font-weight: 600;
        }
        /* Card */
        .wallet-card {
        background-color: var(--bg-card);
        border: 1px solid var(--border-main); /* borde sutil para definir contorno*/
        border-radius: 12px; /*bordes redondeados*/
        padding: 2rem;
        box-shadow: 0 0 18px rgba(0, 255, 102, 0.18);
        }
        /* Logo */
        .logo {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 0.5rem;
        opacity: 0.9; /* ligera transparencia para suavizar*/
        }
        .logo-appay { /* letras del logo */
        color: var(--logo-green);
        text-shadow: 0 0 10px rgba(17, 214, 74, 0.6);
        }
        .logo-plus { /*diseño del signo (+) */
        color: var(--logo-cyan);
        text-shadow: 0 0 10px rgba(45, 226, 230, 0.8);
        }
        /* Buttons */
        button.btn-matrix {
        background-color: var(--green-main);
        color: var(--bg-main);
        font-weight: 600;
        border: none;
        }
        button.btn-matrix:hover { /*se vuelve mas suave al pasar por encima el mouse*/
        background-color: var(--green-soft);
        color: var(--bg-main);
        }
        button.btn-outline-matrix {
        border: 1px solid var(--green-main);
        color: var(--green-main);
        background-color: transparent;
        }
        button.btn-outline-matrix:hover { /*se rellena al pasar el mouse*/
        background-color: var(--green-main);
        color: var(--bg-main);
        }
        /* Modal */
        .modal-title.wallet-title {
        text-align: center;
        width: 100%; /* ocupa todo el ancho */
        margin-bottom: 0.5rem;
        color: var(--text-white);
        font-weight: 700;
        text-shadow: 0 0 10px var(--text-shadow); /* brillo verde suave*/
        }
        /* Ajuste header modal */
        .modal-header.wallet-modal-header {
        justify-content: center; /*centrado horizontalmente*/
        position: relative; /*se puede colocar la X para salir */
        }
        /* Botón cerrar */
        .modal-header .btn-close {
        filter: invert(1); /*invierte los colores para que se pueda ver la X */
        }
        /* Labels del modal */
        .modal-body .form-label {
        margin-bottom: 0.25rem;
        }


